.feedback-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-background {
    object-fit: cover;
    position: absolute;
    z-index: -1;
    display: flex;
}

.feedback-content {
    display: flex;
    flex-direction: column;
    background-color: $light-blue;
    width: 65vw;
    height: 80vh;
    text-transform: uppercase;
}

.featured-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    padding-top: 2vh;
    border-bottom: 2vh solid $light-blue;
}

.average-time-wrapper, .best-callout-wrapper, .worst-callout-wrapper {
    display: flex;
    flex-direction: column;
    background-color: $dark-blue;
    width: 20vw;
    height: 10vh;
    text-align: center;
    color: $blue;
    font-size: x-large;
}

.featured-title {
    background-color: $off-white;
    color: $dark-blue;
    padding: 0.5vh 0;
}

.featured-data {
    padding: 1vh 0;
    color: $off-white;
}

.feedback-list {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    overflow-y:auto;
    margin: 0 0.9vw 1.5vh 0.9vw;
    padding-top: 0.5vh;
    background-color: $dark-blue;
}

.result-wrapper {
    display: flex;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    text-transform: uppercase;
}

.result-data {
    width: 20%;
    padding: 1vh 1vw;
    background-color: $off-white;
}

.result-title {
    background-color: $blue;
    color: $white;
    
}