//Colour variables
$white: #EEEEEE;
$off-white: #D0D0D0;
$black: #111111;
$light-blue: #4F556E;
$blue: #424863;
$dark-blue: #272A3B;
$light-yellow: #FF9B01;
$yellow: #F1910B;
$dark-yellow: #E3830F;



//Text sizing variables