@import './settings.scss';
@import './components/practice/Practice.scss';
@import './components/menu/Menu.scss';


body {
  margin: 0;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 900;
}